body {
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.navbar-container {
	background-color: black;
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: 50px;
	margin: 0;
	padding: 0;
}

.navbar {
	list-style-type: none;
	position: relative;
	line-height: 50px;
	height: 100%;
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

.navbar-logo {
	display: inline-block;
	float: left;
	position: absolute;
	height: 30px;
	margin: 0 10px;
	top: 10px;
}

.navbar-item {
	font-family: Helvetica;
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin: 0 10px;
}

.navbar-item a {
	text-decoration: none;
	color: gray;
}

.navbar-item a:hover {
	color: #C8A207;
}

.welcome-container {
	background-color: gray;
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: 300px;
	margin: 0;
	padding: 0;
}

.welcome {
	width: 1000px;
	position: relative;
	height: 100%;
	margin: 0 auto;
	padding 0;
}

.welcome h1 {
	font-family: Helvetica;
	font-size: 45pt;
	font-weight: normal;
	padding: 80px 0 5px;
	margin: 0;
}

.welcome p {
	font-family: Helvetica;
	font-size: 20pt;
	font-weight: lighter;
	padding: 5px 0;
	margin: 0;
}